@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class ="d-flex align-items-center justify-content-center vh-100">
    <img src="~/assets/images/401.svg" alt="Unauthorized" class="h-400px" />
</div>